*{
    margin: 0;
    padding: 0;
}

.community-hero {
  padding: 70px 50px;
  background-color: #d4f1f4;
  margin-top: -100px;
}

.hero-container-community {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  max-width: 1400px;
  margin: auto;
}

/* Left Side */
.hero-texts {
  flex: 1;
  max-width: 700px;
}

.hero-texts h2 {
  font-size: 40px;
  color: #003D40;
  font-weight: bold;
  line-height: 1.4;
}

.hero-texts span {
  color: #00bfff;
}

.hero-texts p {
  font-size: 20px;
  color: #003d40;
  margin: 15px 0 20px;
}

.primary-hero-btn {
  width: 250px;
  height: 50px;
  background-color: #0097a7;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.primary-hero-btn:hover {
    background-color: #003d40;
    transform: translateY(-4px);
    transition: all 0.5s ease-in-out;
}

.secondary-hero-btn {
    width: 250px;
    height: 50px;
    background: transparent;
    color: #0097A7;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #0097A7;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.secondary-hero-btn:hover {
    transform: translateY(-4px);
    transition: all 0.5s ease-in-out;
}

/* Right Side */
.illustration {
  flex: 1;
  max-width: 600px;
}

.illustration img {
    width: 600px;
    height: 450px;
}



@media (max-width: 1024px) {
  .community-hero {
    padding: 120px 30px;
  }

  .hero-container-community {
    gap: 100px;
  }

  .hero-texts h2 {
    font-size: 36px;
  }

  .hero-texts p {
    font-size: 18px;
  }

  .primary-hero-btn {
    width: 220px;
    height: 44px;
    font-size: 16px;
  }

  .secondary-hero-btn {
    width: 220px;
    height: 44px;
    font-size: 16px;
  }

  .illustration {
    max-width: 400px;
  }

  .illustration img {
    width: 400px;
    height: auto;
  }
}

/* Tablet - 768px */
@media (max-width: 768px) {
  .community-hero {
    padding: 120px 20px;
  }

  .hero-container-community {
    gap: 20px;
  }

  .hero-texts {
    max-width: 80%;
    width: 80%;
  }

  .hero-texts h2 {
    font-size: 32px;
  }

  .hero-texts p {
    font-size: 16px;
  }

  .primary-hero-btn {
    width: 40%;
    font-size: 14px; 
  }

  .secondary-hero-btn {
    width: 40%;
    font-size: 14px;
  }

  .illustration {
    max-width: 300px;
  }

  .illustration img {
    width: 300px;
  }


}

/* Mobile - 426px */
@media (max-width: 426px) {
  .community-hero {
    padding: 120px 20px;
  }

  .hero-container-community {
    gap: 20px;
  }

  .hero-texts {
    width: 90%;
    max-width: 90%;
  }

  .hero-texts h2 {
    font-size: 26px;
  }

  .hero-texts p {
    font-size: 14px;
  }

  .primary-hero-btn {
    font-size: 12px;
    width: 40%;
  }

  .secondary-hero-btn {
    font-size: 12px;
    width: 40%;
  }

  .hero-form {
    padding: 20px;
  }

  .hero-form input,
  .hero-form select {
    font-size: 12px;
    padding: 8px;
  }

  .hero-form h3 {
    font-size: 22px;
  }

  .hero-form button {
    font-size: 14px;
  }
}


/* Mentor Section */

/* Scroll Buttons */
.scroll-button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: #fff;
  color: #003d40;
  border: 2px solid #007c88;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.scroll-button:hover {
  background-color: #007c88;
  color: #fff;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.mentors-section {
  position: relative;
  padding: 50px 70px;
  background-color: #d4f1f4;
  
  overflow: hidden;
}


.mentors-section h2 {
  color: #0097A7;
  font-size: 30px;
  margin-bottom: 8px;
}

.mentors-section p {
  color: #003d40;
  font-size: 20px;
  margin-bottom: 30px;
}

.mentors-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
  scrollbar-width: none; /* Firefox */
}

.mentors-scroll::-webkit-scrollbar {
  display: none; /* Chrome */
}

.mentor-card {
  flex: 0 0 auto;
  width: 300px;
  height: 360px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.mentor-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.mentor-card h3 {
  font-size: 26px;
  font-weight: 800;
  color: #003d40;
  margin-bottom: 16px;
}

.mentor-card .category {
  font-size: 20px;
  color: #007c88;
  margin-bottom: 16px;
}

.mentor-card .desc {
  font-size: 12px;
  color: #555;
  margin-bottom: 16px;
}

.mentor-card button {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.mentor-card button:hover {
  background-color: #007c88;
}
